spring.application.name=samoonpride
server.port=8080

# Database
spring.jpa.hibernate.ddl-auto=update
spring.jackson.time-zone=Asia/Bangkok
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

# Hot reload
spring.devtools.restart.enabled=true

# Security
security.enable=
jwt.key=
jwt.expiration=

# Image
thumbnail.height=
thumbnail.width=

# Line Token
line.access.token=